body {
  background-image: url(https://i.imgur.com/pwq3sVF.png);
}
a{
  color: #fcfcfd;
  text-shadow: 1px 1px #e0afd8;
}
h1{
  font-family: 'Spectral SC';
  margin: auto;
  text-shadow: 1px 1px #72E0FF;
  color: #747578
}
textarea{
  background: transparent;
  border: 1px solid #747578;
  width: 500px;
  height: 200px;
  font-size: 18px;
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
