body {
  background-image: url(https://i.imgur.com/dSS9NGM.png);
}
a{
  color: #000007;
  text-shadow: 1px 1px #a80f91;
}
h1{
  font-family: 'Spectral SC';
  margin: auto;
  text-shadow: 1px 1px rgb(196, 13, 13);
  color: #540358 
}
textarea{
  background: transparent;
  border: 1px solid #330101;
  width: 500px;
  height: 200px;
  font-size: 18px;
}
p{
  font-family: 'Spectral SC';
}
label{
  font-family: 'Spectral SC';
  margin: auto;
  text-shadow: 1px 1px rgb(5, 0, 0);
  color: #000801
}
